<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <title><%= title %></title>
</head>
<body>
  <br />
<p class="codyhouse">Aula <%= clases[0].aula %></p>
<div class="cd-schedule loading">
	<div class="timeline">
		<ul>
			<li><span>15:00</span></li>
			<li><span>15:30</span></li>
			<li><span>16:00</span></li>
			<li><span>16:30</span></li>
			<li><span>17:00</span></li>
			<li><span>17:30</span></li>
			<li><span>18:00</span></li>
			<li><span>18:30</span></li>
			<li><span>19:00</span></li>
			<li><span>19:30</span></li>
			<li><span>20:00</span></li>
			<li><span>20:30</span></li>
			<li><span>21:00</span></li>
			<li><span>21:30</span></li>
			<li><span>22:00</span></li>
			<li><span>22:30</span></li>
		</ul>
	</div>

	<div class="events">
    <ul class="wrap">
      <%
        // Definir el orden
        const diasDeLaSemana = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'];
        // Agrupar eventos por día
        const eventosPorDia = {};
        clases.forEach(function(clase) {
          if (!eventosPorDia[clase.dia]) {
            eventosPorDia[clase.dia] = [];
          }
          eventosPorDia[clase.dia].push(clase);
        });
      %>
      <% diasDeLaSemana.forEach(function(dia) { %>
        <% if (eventosPorDia[dia]) { %>
          <li class="events-group">
            <div class="top-info"><span><%= dia %></span></div>
            <ul>
              <% eventosPorDia[dia].forEach(function(clase) { %>
                <li class="single-event" data-start="<%= clase.horaInicio %>" data-end="<%= clase.horaFinal %>" data-event="<%= clase.aula %>">
                  <a href="#0">
                    <em class="event-name"><%= clase.nombreClase %></em>
                    <em class="event-info"><%= clase.nombreProfe %></em>
                  </a>
                </li>
              <% }); %>
            </ul>
          </li>
        <% } %>
      <% }); %>
		</ul>
	</div>

	<div class="event-modal">
		<header class="header">
			<div class="content">
				<span class="event-date"></span>
				<h3 class="event-name"></h3>
			</div>

			<div class="header-bg"></div>
		</header>

		<div class="body">
			<div class="event-info"></div>
			<div class="body-bg"></div>
		</div>

		<a href="#0" class="close">Close</a>
	</div>

	<div class="cover-layer"></div>
</div> 

  <script src="/assets/js/main.js"></script>
</body>
</html>